body{
    /*font-family:'Consolas','Menlo','Courier',monospace,sans-serif;*/
    text-align:center;
    color:white;
    background-color:black;
}
button{
    /*font-family:'Consolas','Menlo','Courier',monospace,sans-serif;*/
    background-color:black;
    color:white;
    border-color:white;
}
.tabButton{
    font-size:18px;
}
.tab2Button{
    width:120px;
}
.hidden{
    display:none
}
.tab{
    display:block
}
.imp{
    width:160px;
    height:160px;
}
.boughtimp{
    width:160px;
    height:160px;
    color:black;
    background-color:green
}
a{
    color:aquamarine;
}
.prestige{
    background-color:#4444FF;
    color:#000066;
    border-color:#9999FF;
    /*此链接不是rickroll
    https://www.bilibili.com/video/BV1GJ411x7h7/?spm_id_from=333.337.search-card.all.click
                                            ————Pevihelle
    */
}
button.prestige:disabled{
    background-color:#e8e8e8;
    color:#777777;
    border-color:#222222;
}
.galaxy{
    color:blue;
    background-color:black;
    border-color:blue;
}
.dataupgrade{
    height:80px;
    width:110px;
    background-color:black;
    color:lime;
    border-color:lime;
}
.boughtdup{
    height:80px;
    width:110px;
    background-color:lime;
    color:black;
    border-color:lime;
}
#softcap{
    color:red;
}
